/* ----------------------------- */
/* BASIC SETUP */
/* ----------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: fff;
	color: #fff;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* ----------------------------- */
/* REUSEABLE COMPONENTS */
/* ----------------------------- */

section {
	padding: 80px 0;
	background-color: #202429;
}

.center {
	margin: 0 auto;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 90%;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

/* Headings */
h1{
	margin: 0;
	/*font-family: "Pacifico";*/
	font-size: 200%;
	font-weight: 300;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	/*word-spacing: 4px;*/
}

h2 {
	letter-spacing: 1px;
	font-weight: 300;
	text-align: center;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 855px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Navigation */
.nav-title {
	margin-top: 20px;
	float: left;
	text-transform: uppercase;
}

.main-nav {
	margin-top: 18px;
	float: right;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 1px solid #fff;
}

/*sticky navigation*/
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	padding-bottom: 16px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	/*color: #fff;*/
	padding: 16px 0;
	text-decoration: none;
	text-transform: uppercase;
	/*font-size: 90%;*/
	/*border-bottom: 1px solid transparent;*/
	/*transition: border-bottom 0.2s;*/
}

/* ----------------------------- */
/* About */
/* ----------------------------- */

.section-about a:link,
.section-about a:visited {
	color: #fff;
	/*padding-top: 200px;*/
	/*padding-bottom: 200px;*/
}

.section-about h2 {
	margin-bottom: 50px;
}
/* ----------------------------- */
/* TECHNOLOGIES */
/* ----------------------------- */

.section-tech img {
  /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(100%);*/
	height: 100px;
	transition: height 0.2s;
}

.section-tech img:hover {
  /*-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  /*filter: grayscale(0%);*/
  cursor: pointer;
  height: 90px;
}

.tech-list {
	margin-top: 100px;
}

.section-tech .row div {
	/*border: 1px solid #fff;*/
	display: flex;
}

.center-image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ----------------------------- */
/* CONTACT */
/* ----------------------------- */

.section-contact a {
	text-decoration: none;
	margin: 0 auto;
	font-size: 90%;
	text-align: center;
}

/* ----------------------------- */
/* FOOTER */
/* ----------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #c32aa3;
}

.ion-social-github:hover {
    color: #000000;
}

.ion-social-linkedin:hover {
    color: #007bb6;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
