/* ----------------------------- */
/* BASIC SETUP */
/* ----------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: fff;
	color: #fff;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* ----------------------------- */
/* REUSEABLE COMPONENTS */
/* ----------------------------- */

section {
	padding: 80px 0;
	background-color: #202429;
}

.black {
	color: black;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

/* Headings */
h1{
	margin: 0;
	/*font-family: "Pacifico";*/
	font-size: 200%;
	font-weight: 300;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	/*word-spacing: 4px;*/
}

h2 {
	letter-spacing: 1px;
	font-weight: 300;
	text-align: center;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 855px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Navigation */
.nav-title {
	margin-top: 20px;
	float: left;
	text-transform: uppercase;
}

.main-nav {
	margin-top: 20px;
	float: right;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 1px solid #fff;
}

/* ----------------------------- */
/* TECHNOLOGIES */
/* ----------------------------- */

.section-tech img {
	/*color: #fff;*/
	/*text-decoration: none;*/
	/*text-transform: uppercase;*/
	/*font-size: 90%;*/
	/*border-bottom: 1px solid transparent;*/
	/*transition: border-bottom 0.2s;*/
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
	height: 100px;
	transition: filter 0.2s;
}

.section-tech img:hover {
	/*color: #fff;*/
	/*text-decoration: none;*/
	/*text-transform: uppercase;*/
	/*font-size: 90%;*/
	/*border-bottom: 1px solid transparent;*/
	/*transition: border-bottom 0.2s;*/
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  cursor: pointer;
}

.tech-list {
	margin-top: 100px;
}

.section-tech .row div {
	/*border: 1px solid #fff;*/
	display: flex;
}

.center-image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
   display: flex;
   justify-content: center;
   align-items: center;
}